@charset "utf-8";
/*CSS for CossiePlay site*/
div#navigation ul li {
	list-style-type: none;
	padding: 0 px;
	margin: 0;
	overflow: hidden;
	background-color: #605B56
}
li {
	float: left;
	border-right: 1px solid #bbb;
}
li:last-child {
	border-right: none;
}
li a {
	diplay: block;
	color: #DAFEB7;
	text-align: center;
	padding: 15px 19px;
	text-decoration: none;
}
li a:hover {
	background-color: #867C7C;
}
div#bodycontent p {
	margin-left: auto;
	margin-right: auto;
	margin-top : 40px;
	width: 800px;
	clear: both;
	text-align: center
}
div#bodycontent img {
	display: block;
	margin: auto;
	align-content: center;
	border: 15px #867C7C;
}
body {
	font-family: droid-sans, verdana, sans-serif;
	background-color: #F2FBE0;
	line-height: 125%;
	padding: 0px;
	font-style: normal;
	font-weight: 400;
}
h1 {
	font-family: sarina, verdana, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	text-shadow: 2px 4px #000000;
}
h2, h3 {
	margin-top : 80px;
	font-family: sarina, sans-serif;
	font-size: xx-large;
	font-style: normal;
	font-weight: 400;
	text-shadow: 2px 4px #000000;
}
#tagline p {
	font-style: italic;
	font-family: Georgia, Times, Serif;
}
h1, h2, h3 {
	background-color: #605B56;
	color: #DAFEB7;
	padding: 0em 0.2em 0em 0.2em;
}
table, th, td {
    border: 3px solid #605B56;
    border-collapse: collapse;
}
